.payment-checkout-form {
    font-family: 'Raleway';
    .input-container {
        width: 35%;
        margin-top: 15px;
        margin-left: 10%;
        display: inline-table;
        label {
            font-size: 18px;
            display: block;
        }
        input,
        select,
        textarea {
            font-family: 'Raleway';
            border: solid $MediumGray 4px;
            border-radius: 15px;
            width: 100%;
            outline: none;
            font-size: 15px;
            padding: 5px 0px 5px 15px;
        }
        input {
            height: 30px;
        }
        select {
            height: 45px;
        }
        textarea {
            height: 90px;
        }
        div {
            display: inline-table;
            width: 45%;
            &:last-child {
                margin-left: 10%;
            }
        }
    }
    .submit-container {
        margin-bottom: 30px;
    }
    .select-container {
        width: 37%;
    }
    .message-container {
        width: 80%;
        textarea {
            resize: none;
            padding-top: 10px;
        }
    }
    button {
        margin-top: 70px;
        margin-bottom: 25px;
        width: 33%;
        margin-left: 33%;
        background: $MainColor;
        color: #fff;
        font-family: 'Raleway';
        letter-spacing: 5px;
        font-size: 20px;
        text-decoration: none;
        padding: 10px 30px 10px 30px;
        border: solid #fff 2px;
        border-radius: 15px;
        &.pay-store {
            background: $DarkGray;
            margin-top: 0;
            width: 25%;
            margin: 0 auto;
            display: block;
        }
    }
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
    width: auto !important;
    &+label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }
    &+label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: white;
        border: solid #808080 4px;
        border-radius: 7px;
    }
    &:checked+label:after {
        content: '';
        position: absolute;
        left: 9px;
        top: 13px;
        background: $MainColor;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 $MainColor, 4px 0 0 $MainColor, 4px -2px 0 $MainColor, 4px -4px 0 $MainColor, 4px -6px 0 $MainColor, 4px -8px 0 $MainColor;
        transform: rotate(45deg);
    }
}

@media(max-width: 768px) {
    .payment-checkout-form {
        .input-container {
            width: 77%;
            margin-top: 15px;
            margin-left: 10%;
            display: inline-table;
        }
        .select-container {
            width: 80%;
        }
        .message-container {
            width: 77%;
        }
        button {
            width: 80%;
            margin-left: 10%;
        }
    }
}

@media (min-width: 768px) {
    .input-container {
        &:nth-child(8) {
            margin-left: 8%;
        }
        &.p-ml-10 {
            margin-left: 10%;
        }
    }
}